<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIIxGgYpRC-MbvM0I_Ta31w8hhpDlBDco</string>
	<key>GCM_SENDER_ID</key>
	<string>276183332618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Varad.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-ec499</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-ec499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276183332618:ios:e6410b3e7ff54fc37dacf3</string>
</dict>
</plist>